{% set github = theme_var('github-link') %}
{% set twitter = theme_var('twitter-link') %}
{% set youtube = theme_var('youtube-link') %}
{% set contact = theme_var('contact-email')|safe_email %}
<footer role="contentinfo" id="footer">
  <div class="wrapper">
    <div class="left">
      <small>Copyright &copy;
        <time>{{ now|date('Y') }}</time>, {{ theme_var('name') }}</small>
      <nav role="navigation">
        <ul>
          <li><a href="/privacy">Privacy Policy</a></li>
          {% if config.plugins.sitemap.enabled %}<li><a href="/sitemap">Sitemap</a></li>{% endif %}
          {% if contact|length > 0 %}<li><a href="{{ 'mailto:'~contact }}">Contact</a></li>{% endif %}
        </ul>
      </nav>
    </div>
    <div class="right social">
      {% if github|length > 0 %}
        <a href="{{ github }}" rel="noopener noreferrer" target="_blank">
          <i class="fab fa-github"></i>
        </a>
      {% endif %}
      {% if twitter|length > 0 %}
        <a href="{{ twitter }}" rel="noopener noreferrer" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
      {% endif %}
      {% if youtube|length > 0 %}
        <a href="{{ youtube }}" rel="noopener noreferrer" target="_blank">
          <i class="fab fa-youtube"></i>
        </a>
      {% endif %}
    </div>
  </div>
</footer>