{% extends 'partials/base.html.twig' %}
{% set name = theme_var('name') ?: 'Jules' %}

{% block content %}
  <h1>About</h1>
  <div class="grid">
    <div class="grid-element-1-1 grid-element-m-1-3">
      <img src="{{ page.media[page.header.image].url }}" alt="{{ name|e }}">
    </div>
    <div class="grid-element-1-1 grid-element-m-2-3">
      {{ page.content|raw }}
    </div>
    <div class="grid-element-1-1">
      <table class="social">
        <tbody>
          {% if github_link|length > 0 %}
            <tr>
              <th><i class="fab fa-github"></i></th>
              <td><a href="{{ github_link }}" target="_blank"
                    rel="noopener noreferrer">{{ github_name|e }}</a></td>
            </tr>
          {% endif %}

          {% if twitter_link|length > 0 %}
            <tr>
              <th><i class="fab fa-twitter"></i></th>
              <td><a href="{{ twitter_link }}" target="_blank"
                    rel="noopener noreferrer">{{ twitter_name|e }}</a></td>
            </tr>
          {% endif %}

          {% if youtube_link|length > 0 %}
            <tr>
              <th><i class="fab fa-youtube"></i></th>
              <td><a href="{{ youtube_link }}" target="_blank"
                    rel="noopener noreferrer">{{ youtube_name|e }}</a></td>
            </tr>
          {% endif %}

          {% if contact_email|length > 0 %}
            <tr>
              <th><i class="fas fa-envelope"></i></th>
              <td><a href="{{ 'mailto:'~contact_email }}">{{ contact_email }}</a></td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
