{% extends 'partials/base.html.twig' %}

{% block main %}
  <div class="wrapper">
    <main role="main" id="main">
      <section>
        <h1>{{ page.title|e }}</h1>
        {{ page.content|raw }}
        <div class="grid padded">
          {% for project in page.header.portfolio %}
            <div class="grid-element-1-1 grid-element-m-1-2">
              <a href="{{ project.link }}">
                <figure class="gallery">
                  <img src="{{ page.media[project.image].url }}" alt="{{ project.title|e }}">
                  <figcaption>
                    <h5>{{ project.title|e }}</h5>
                    <h6>{{ project.description|e }}</h6>
                  </figcaption>
                </figure>
              </a>
            </div>
          {% endfor %}
        </div>
      </section>
    </main>
  </div>
{% endblock %}
